sudo: false

language: python

python:
  - 3.5
  - 3.8

env:
  - TOXENV=django22
  - TOXENV=quality

cache:
  - pip

install:
  - pip install -r requirements/ci.txt

script:
  - make test

after_success:
  - codecov

deploy:
  provider: pypi
  user: edx
  password:
    secure: A2BrU6qqQHSrJ7jvxOSr1/l4HdHT5EvRWvkufMR+kdq8I8qgTlGio22Tc4OSrD5Oe7Zz7ST7q3fJFRf8Kt/gdZp7DJeeVR5gK113EvquYQUdb+wbKiBHQ3hu7JBWAjrzUQ3mDPk5DJN77dUVByYoZUmWQVMyg2fmUnQxRdertLI=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 3.5
    condition: '$TOXENV = quality'
